body{
    background: var(--backgroundColor);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
.main{
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    height: 100px;
    width: 100vw;
}
/*buttons*/
.primaryButton{
    width: 290px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid var(--primaryButton__border);
    background: var(--primaryButton__background);
    color: var(--primaryButton__textColor);
}
.secondaryButton{
    height: 45px;
    width: 155px;
    background-color: var(--primaryButton__background);
    border: 2px solid var(--primaryButton__border);
    border-radius: 12px;
    color: var(--primaryButton__textColor);
}
.primaryButton--inactive{
    border: 2px solid var(--primaryButton__inactiveBorder);
    background: var(--primaryButton__inactiveBackground);
    color: var(--primaryButton__inactiveTextColor);
}

/*Mobile Menu*/
.navBar{
    position: fixed;
    bottom: 0;  
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 50px;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    padding: 0;
    background-color: var(--section__primary);
}
.menu__icon{
    fill: var(--iconColor__tertiary);
}
.menu__icon--active{
    fill: var(--iconColor__secondary);
}
/*Heat source activity card*/

.heatSource__title{
    align-self: flex-start;
    padding-inline-start: 40px;
}
.heatSourceCard{
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding-inline: 8px;
    height: 167px;
    overflow: hidden;
    width: 334px ;
    transition: 0.4s;
}
.heatSourceCard.active{
    height: 220px;
}
.heatSourceCard__title{
    color: var(--text__secondary);
    margin-block: 16px;
}
.heatSourceCard__description{
    color: var(--text__secondary);
}
.heatSourceCard__unfoldButton{
    position: absolute;
    bottom: 5px;
    right: 8px;
    transition: 0.4s;
}
.heatSourceCard__unfoldButton.active{
    transform: scaleY(-1);
}
/*Button Section*/
.heatSourceButtons{
    display: flex;
    justify-content: space-between;
}
.heatSourceButtons__button{
    background-color: var(--primaryButton__inactiveBorder);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    border: none;
}
.heatSourceButtons__button.active{
    outline: 4px solid var(--warningGreen);
    background-color: var(--primaryButton__textColor);
}

/*Room selection section*/
.roomSelect__title{
    align-self: flex-start;
    padding-inline-start: 40px;
}
.roomSelectCard{
    position: relative;
    background: var(--section__primary);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    width: 334px;
    height: 400px;
    padding-inline-start: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.roomSelectRooms{
    height: 255px;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 24px;
}
.roomSelectRooms__room{
    text-decoration: none;
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.roomSelectRooms__roomTitle{
    margin: 0;
    text-align: center;
    margin-block: 4px ;
}
.roomSelectCard__button{
    margin-inline: auto;
}
.addRoomCard{
    position: absolute;
    left: 8%;
    width: 290px;
    height: 460px;
    background: var(--backgroundColor);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    transform: scale(0);
    transition: 0.4s;
}
.addRoomCard.active{
    transform: scale(1);
}
.addRoomCard__closeSection{
    fill: var(--iconColor__tertiary);
    align-self: flex-end;
    margin-inline-end: 30px;
}
.addRoomCard__addName{
    box-sizing: border-box;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #F2F2F2;
    padding-inline-start: 30px;
    color: var(--text__secondary);
}
.addRoomCard__addName:focus{
    outline: none;
}
.addRoomCard__addIcon{
    box-sizing: border-box;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #F2F2F2;
    padding-inline-start: 30px;
    color: var(--text__secondary);
}
.addRoomCard__addIcon:focus{
    outline: none;
}
.addRoomCard__addColor{
    box-sizing: border-box;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #F2F2F2;
    padding-inline-start: 30px;
    color: var(--text__secondary);
}
.addRoomCard__addColor:focus{
    outline: none;
}
.addRoomCard__title{
    margin: 0;
}

.modifyTempature{
    width: 335px;
    height: 440px;
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 100px;
}
.modifyTempature__currentTempature{
    font-size: 64px;
    margin: 0;
    color: var(--text__primary);
    font-weight: 300;
    text-align: center;
}
.modifyTempature__tempature{
    background-image: url(images/tempature.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 335px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.modifyTempature__title{
    margin: 0;
    text-align: center;
    color: var(--text__primary);
}
.modifyTempature__buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-block-end: 32px;
}
.modifyTempature__button{
    height: 46px;
    width: 46px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: var(--secondaryButton__background);
    color: var(--text__primary);
    box-shadow: var(--box-shadow);
}
.modifyTempature__button--round{
    border-radius: 50px;
    margin-inline: 10px;
}

.modifyTempature__information{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #a2a2a2;
    margin-block-end: 32px;
}

.information__allData{
    width: 100px;
    text-align: center;
    color: var(--text__primary);
}
.information__time{
    border-right: 1px solid #a2a2a2;
}
.information__currentTemp{
    border-right: 1px solid #a2a2a2;
}
.profile{
    width: 340px;
    height: 360px;
    background-image: url(images/Background-profile.svg);
    background-repeat: no-repeat;
    position: relative;
    padding-block-start: 130px;
    display: flex;
    flex-direction: column;
}
.profile__img{
    position: absolute;
    left: 15px;
    top: 10px;
}
.profile__logo{
    position: absolute;
    left: 165px;
    top: 40px;
}
.profile__logo--dark{
    display: none;
}
.profile__information{
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #a2a2a2;
    width: 90%;
}
.profile__description{
    display: flex;
    justify-content: space-around;
}
.description__title{
    color: var(--text__primary);
    font-size: 16px;
    font-weight: 400;
}
.addUser__button{
    margin-block-end: 24px;
}
.roomUsage{
    width: 100vw;
    margin-block-end: 32px;
}
.roomUsage__img{
    width: 90%;
}
.roomUsage__img--dark{
    display: none;
}
.dailyUsage__img{
    width: 100%;
}
.accent--red{
    color: var(--text__accentRed);
}
.dailyUsage__img--dark{
    display: none;
}
.dailyUsage{
    margin-block-end: 32px;
}
.accent--grey{
    color: var(--text__secondary);
}
.accent--green{
    color: var(--text__accentGreen);
}
.overallUsage{
    margin-block-end: 32px;
}
.overallUsage__img{
    width: 95%;
}
.overallUsage__img--dark{
    display: none;
}
.heatingPrices__img{
    width: 95%;
}
.heatingPrices__img--dark{
    display: none;
}
.heatingPrices{
    margin-block-end: 120px;
}
@media (prefers-color-scheme: dark) {
    .profile{
        background-image: url(images/bagground-section-dark.svg);
    }
    .profile__logo--dark{
        display: block;
    }
    .roomUsage__img{
        display: none;
    }
    .roomUsage__img--dark{
        display: block;
    }
    .dailyUsage__img{
        display: none;
    }
    .dailyUsage__img--dark{
        display: block;
    }
    .overallUsage__img{
        display: none;
    }
    .overallUsage__img--dark{
        display: block;
    }
    .heatingPrices__img{
        display: none;
    }
    .heatingPrices__img--dark{
        display: block;
    }
}